<p-growl [value]="msgs"></p-growl>

<p-tabView orientation="left">
    <p-tabPanel header="Administrador">
        <p-dataTable [value]="tblColabAdminList">
            <header style="text-align:right">
                <button type="text" (click)="showDialogAdmin()" pButton icon="fa-plus" label="Novo"></button>
            </header>
            <p-column field="snomatrcompl" header="Matrícula"></p-column>
            <p-column field="nflativo" header="Status" styleClass="col-button">
                <template let-tblColabAdmin="rowData" pTemplate="body">
                    <p-inputSwitch onLabel="ativo" offLabel="inativo" (click)="selectAdmin(tblColabAdmin)" [(ngModel)]="tblColabAdmin.ativo"></p-inputSwitch>
                </template>
            </p-column>
        </p-dataTable>
    </p-tabPanel>
    <p-tabPanel header="Cargo">
        <p-dataTable [value]="tblColabCargoList">
            <header style="text-align:right">
                <button type="text" (click)="showDialogCargo()" pButton icon="fa-plus" label="Novo"></button>
            </header>
            <p-column field="sdccargo" header="Cargo"></p-column>
            <p-column field="nflativo" header="Status" styleClass="col-button">
                <template let-tblColabCargo="rowData" pTemplate="body">
                    <p-inputSwitch onLabel="ativo" offLabel="inativo" (click)="selectCargo(tblColabCargo)" [(ngModel)]="tblColabCargo.ativo"></p-inputSwitch>
                </template>
            </p-column>
        </p-dataTable>
    </p-tabPanel>
    <p-tabPanel header="Cidade">
        <p-dataTable [value]="tblColabCidadeList">
            <header style="text-align:right">
                <button type="text" (click)="showDialogCidade()" pButton icon="fa-plus" label="Novo"></button>
            </header>
            <p-column field="sdccidade" header="Cidade"></p-column>
            <p-column field="nflativo" header="Status" styleClass="col-button">
                <template let-tblColabCidade="rowData" pTemplate="body">
                    <p-inputSwitch onLabel="ativo" offLabel="inativo" (click)="selectCidade(tblColabCidade)" [(ngModel)]="tblColabCidade.ativo"></p-inputSwitch>
                </template>
            </p-column>
        </p-dataTable>
    </p-tabPanel>
    <p-tabPanel header="Entre Grupo">
        <p-dataTable [value]="tblColabEntreGrupoList">
            <header style="text-align:right">
                <button type="text" (click)="showDialogEntreGrupo()" pButton icon="fa-plus" label="Novo"></button>
            </header>
            <p-column field="tblColabGrupo.sdcgrupo" header="Grupo"></p-column>
            <p-column field="sdcentregrupo" header="Entre Grupo"></p-column>
            <p-column field="nflativo" header="Status" styleClass="col-button">
                <template let-tblColabEntreGrupo="rowData" pTemplate="body">
                    <p-inputSwitch onLabel="ativo" offLabel="inativo" (click)="selectEntreGrupo(tblColabEntreGrupo)" [(ngModel)]="tblColabEntreGrupo.ativo"></p-inputSwitch>
                </template>
            </p-column>
        </p-dataTable>
    </p-tabPanel>
    <p-tabPanel header="Estado">
        <p-dataTable [value]="tblColabEstadoList">
            <header style="text-align:right">
                <button type="text" (click)="showDialogEstado()" pButton icon="fa-plus" label="Novo"></button>
            </header>
            <p-column field="sdcestado" header="Estado"></p-column>
            <p-column field="nflativo" header="Status" styleClass="col-button">
                <template let-tblColabEstado="rowData" pTemplate="body">
                    <p-inputSwitch onLabel="ativo" offLabel="inativo" (click)="selectEstado(tblColabEstado)" [(ngModel)]="tblColabEstado.ativo"></p-inputSwitch>
                </template>
            </p-column>
        </p-dataTable>
    </p-tabPanel>
    <p-tabPanel header="Grupo">
        <p-dataTable [value]="tblColabGrupoList">
            <header style="text-align:right">
                <button type="text" (click)="showDialogGrupo()" pButton icon="fa-plus" label="Novo"></button>
            </header>
            <p-column field="sdcgrupo" header="Grupo"></p-column>
            <p-column field="nflativo" header="Status" styleClass="col-button">
                <template let-tblColabGrupo="rowData" pTemplate="body">
                    <p-inputSwitch onLabel="ativo" offLabel="inativo" (click)="selectGrupo(tblColabGrupo)" [(ngModel)]="tblColabGrupo.ativo"></p-inputSwitch>
                </template>
            </p-column>
        </p-dataTable>
    </p-tabPanel>
    <p-tabPanel header="Situação">
        <p-dataTable [value]="tblColabSituacaoList">
            <header style="text-align:right">
                <button type="text" (click)="showDialogSituacao()" pButton icon="fa-plus" label="Novo"></button>
            </header>
            <p-column field="sdcsituacao" header="Situação"></p-column>
            <p-column field="nflativo" header="Status" styleClass="col-button">
                <template let-tblColabSituacao="rowData" pTemplate="body">
                    <p-inputSwitch onLabel="ativo" offLabel="inativo" (click)="selectSituacao(tblColabSituacao)" [(ngModel)]="tblColabSituacao.ativo"></p-inputSwitch>
                </template>
            </p-column>
        </p-dataTable>
    </p-tabPanel>
</p-tabView>

<p-dialog header="Novo Administrador" [(visible)]="displayAdmin" [resizable]=false [draggable]=false modal=true [width]=650>
    <form [formGroup]="adminForm" (ngSubmit)="onSubmitAdmin(adminForm.value)">
        <div class="ui-g">
            <div class="ui-g-4">Matrícula Completa</div>
            <div class="ui-g-4">
                <p-inputMask formControlName="matriculaInputMask" [(ngModel)]="matrCompl" mask="a9999999" (onComplete)="upperMatrCompl()"
                    size=17></p-inputMask>
            </div>
            <div class="ui-g-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!adminForm.controls['matriculaInputMask'].valid&&adminForm.controls['matriculaInputMask'].dirty">
                    <span *ngIf="adminForm.controls['matriculaInputMask'].errors['required']">Obrigatório</span>
                </div>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4"></div>
            <div class="ui-g-4"><button pButton type="submit" pButton icon="fa-save" label="Salvar" style="width:100%" [disabled]="!adminForm.valid"></button></div>
            <div class="ui-g-4"></div>
        </div>
    </form>
</p-dialog>

<p-dialog header="Novo Cargo" [(visible)]="displayCargo" [resizable]=false [draggable]=false modal=true [width]=650>
    <form [formGroup]="cargoForm" (ngSubmit)="onSubmitCargo(cargoForm.value)">
        <div class="ui-g">
            <div class="ui-g-4">Cargo</div>
            <div class="ui-g-4">
                <input type="text" pInputText formControlName="cargoInput" [(ngModel)]="cargo" size=17/>
            </div>
            <div class="ui-g-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!cargoForm.controls['cargoInput'].valid&&cargoForm.controls['cargoInput'].dirty">
                    <span *ngIf="cargoForm.controls['cargoInput'].errors['required']">Obrigatório</span>
                </div>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4"></div>
            <div class="ui-g-4"><button pButton type="submit" pButton icon="fa-save" label="Salvar" style="width:100%" [disabled]="!cargoForm.valid"></button></div>
            <div class="ui-g-4"></div>
        </div>
    </form>
</p-dialog>

<p-dialog header="Novo Estado" [(visible)]="displayEstado" [resizable]=false [draggable]=false modal=true [width]=650>
    <form [formGroup]="estadoForm" (ngSubmit)="onSubmitEstado(estadoForm.value)">
        <div class="ui-g">
            <div class="ui-g-4">Estado</div>
            <div class="ui-g-4">
                <p-inputMask formControlName="estadoInput" [(ngModel)]="estado" mask="aa" (onComplete)="upperEstado()" size=17></p-inputMask>
            </div>
            <div class="ui-g-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!estadoForm.controls['estadoInput'].valid&&estadoForm.controls['estadoInput'].dirty">
                    <span *ngIf="estadoForm.controls['estadoInput'].errors['required']">Obrigatório</span>
                </div>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4"></div>
            <div class="ui-g-4"><button pButton type="submit" pButton icon="fa-save" label="Salvar" style="width:100%" [disabled]="!estadoForm.valid"></button></div>
            <div class="ui-g-4"></div>
        </div>
    </form>
</p-dialog>

<p-dialog header="Novo Grupo" [(visible)]="displayGrupo" [resizable]=false [draggable]=false modal=true [width]=650>
    <form [formGroup]="grupoForm" (ngSubmit)="onSubmitGrupo(grupoForm.value)">
        <div class="ui-g">
            <div class="ui-g-4">Grupo</div>
            <div class="ui-g-4">
                <input type="text" pInputText formControlName="grupoInput" [(ngModel)]="grupo" size=17/>
            </div>
            <div class="ui-g-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!grupoForm.controls['grupoInput'].valid&&grupoForm.controls['grupoInput'].dirty">
                    <span *ngIf="grupoForm.controls['grupoInput'].errors['required']">Obrigatório</span>
                </div>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4"></div>
            <div class="ui-g-4"><button pButton type="submit" pButton icon="fa-save" label="Salvar" style="width:100%" [disabled]="!grupoForm.valid"></button></div>
            <div class="ui-g-4"></div>
        </div>
    </form>
</p-dialog>

<p-dialog header="Nova Cidade" [(visible)]="displayCidade" [resizable]=false [draggable]=false modal=true [width]=650 (onBeforeShow)="removeScroll($event)"
    (onBeforeHide)="addScroll($event)">
    <form [formGroup]="cidadeForm" (ngSubmit)="onSubmitCidade(cidadeForm.value)">
        <div class="ui-g">
            <div class="ui-g-4">Cidade</div>
            <div class="ui-g-4">
                <input type="text" pInputText formControlName="cidadeInput" [(ngModel)]="cidade" size=17/>
            </div>
            <div class="ui-g-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!cidadeForm.controls['cidadeInput'].valid&&cidadeForm.controls['cidadeInput'].dirty">
                    <span *ngIf="cidadeForm.controls['cidadeInput'].errors['required']">Obrigatório</span>
                </div>
            </div>
            <div class="ui-g-4">Estado</div>
            <div class="ui-g-4">
                <p-dropdown [options]="estados" [(ngModel)]="selectedEstado" formControlName="estadoInput" appendTo="body" [style]="{'width':'100%'}"></p-dropdown>
            </div>
            <div class="ui-g-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!cidadeForm.controls['estadoInput'].valid&&cidadeForm.controls['estadoInput'].dirty">
                    <span *ngIf="cidadeForm.controls['estadoInput'].errors['required']">Obrigatório</span>
                </div>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4"></div>
            <div class="ui-g-4"><button pButton type="submit" pButton icon="fa-save" label="Salvar" style="width:100%" [disabled]="!cidadeForm.valid"></button></div>
            <div class="ui-g-4"></div>
        </div>
    </form>
</p-dialog>

<p-dialog header="Novo Entre Grupo" [(visible)]="displayEntreGrupo" [resizable]=false [draggable]=false modal=true [width]=650
    (onBeforeShow)="removeScroll($event)" (onBeforeHide)="addScroll($event)">
    <form [formGroup]="entreGrupoForm" (ngSubmit)="onSubmitEntreGrupo(entreGrupoForm.value)">
        <div class="ui-g">
            <div class="ui-g-4">Entre Grupo</div>
            <div class="ui-g-4">
                <input type="text" pInputText formControlName="entreGrupoInput" [(ngModel)]="entreGrupo" size=17/>
            </div>
            <div class="ui-g-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!entreGrupoForm.controls['entreGrupoInput'].valid&&entreGrupoForm.controls['entreGrupoInput'].dirty">
                    <span *ngIf="entreGrupoForm.controls['entreGrupoInput'].errors['required']">Obrigatório</span>
                </div>
            </div>
            <div class="ui-g-4">Grupo</div>
            <div class="ui-g-4">
                <p-dropdown [options]="grupos" [(ngModel)]="selectedGrupo" formControlName="grupoInput" appendTo="body" [style]="{'width':'100%'}"></p-dropdown>
            </div>
            <div class="ui-g-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!entreGrupoForm.controls['grupoInput'].valid&&entreGrupoForm.controls['grupoInput'].dirty">
                    <span *ngIf="entreGrupoForm.controls['grupoInput'].errors['required']">Obrigatório</span>
                </div>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4"></div>
            <div class="ui-g-4"><button pButton type="submit" pButton icon="fa-save" label="Salvar" style="width:100%" [disabled]="!entreGrupoForm.valid"></button></div>
            <div class="ui-g-4"></div>
        </div>
    </form>
</p-dialog>

<p-dialog header="Nova Situação" [(visible)]="displaySituacao" [resizable]=false [draggable]=false modal=true [width]=650
    (onBeforeShow)="removeScroll($event)" (onBeforeHide)="addScroll($event)">
    <form [formGroup]="situacaoForm" (ngSubmit)="onSubmitSituacao(situacaoForm.value)">
        <div class="ui-g">
            <div class="ui-g-4">Situação</div>
            <div class="ui-g-4">
                <input type="text" pInputText formControlName="situacaoInput" [(ngModel)]="situacao" size=17/>
            </div>
            <div class="ui-g-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!situacaoForm.controls['situacaoInput'].valid&&situacaoForm.controls['situacaoInput'].dirty">
                    <span *ngIf="situacaoForm.controls['situacaoInput'].errors['required']">Obrigatório</span>
                </div>
            </div>
            <div class="ui-g-4">Tela</div>
            <div class="ui-g-4">
                <p-dropdown [options]="tela" [(ngModel)]="selectedTela" formControlName="telaInput" appendTo="body" [style]="{'width':'100%'}"></p-dropdown>
            </div>
            <div class="ui-g-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!situacaoForm.controls['telaInput'].valid&&situacaoForm.controls['telaInput'].dirty">
                    <span *ngIf="situacaoForm.controls['telaInput'].errors['required']">Obrigatório</span>
                </div>
            </div>
            <div class="ui-g-4">Data</div>
            <div class="ui-g-4">
                <p-dropdown [options]="data" [(ngModel)]="selectedData" formControlName="dataInput" appendTo="body" [style]="{'width':'100%'}"></p-dropdown>
            </div>
            <div class="ui-g-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!situacaoForm.controls['dataInput'].valid&&situacaoForm.controls['dataInput'].dirty">
                    <span *ngIf="situacaoForm.controls['dataInput'].errors['required']">Obrigatório</span>
                </div>
            </div>
            <div class="ui-g-4">Data Desligamento Área</div>
            <div class="ui-g-4">
                <p-dropdown [options]="dtDesligArea" [(ngModel)]="selectedDtDesligArea" formControlName="dtDesligAreaInput" appendTo="body"
                    [style]="{'width':'100%'}"></p-dropdown>
            </div>
            <div class="ui-g-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!situacaoForm.controls['dtDesligAreaInput'].valid&&situacaoForm.controls['dtDesligAreaInput'].dirty">
                    <span *ngIf="situacaoForm.controls['dtDesligAreaInput'].errors['required']">Obrigatório</span>
                </div>
            </div>
            <div class="ui-g-4">Data Desligamento Empresa</div>
            <div class="ui-g-4">
                <p-dropdown [options]="dtDesligEmpresa" [(ngModel)]="selectedDtDesligEmpresa" formControlName="dtDesligEmpresaInput" appendTo="body"
                    [style]="{'width':'100%'}"></p-dropdown>
            </div>
            <div class="ui-g-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!situacaoForm.controls['dtDesligEmpresaInput'].valid&&situacaoForm.controls['dtDesligEmpresaInput'].dirty">
                    <span *ngIf="situacaoForm.controls['dtDesligEmpresaInput'].errors['required']">Obrigatório</span>
                </div>
            </div>
            <div class="ui-g-4">Data ASO</div>
            <div class="ui-g-4">
                <p-dropdown [options]="dataAso" [(ngModel)]="selectedDataAso" formControlName="dataAsoInput" appendTo="body" [style]="{'width':'100%'}"></p-dropdown>
            </div>
            <div class="ui-g-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!situacaoForm.controls['dataAsoInput'].valid&&situacaoForm.controls['dataAsoInput'].dirty">
                    <span *ngIf="situacaoForm.controls['dataAsoInput'].errors['required']">Obrigatório</span>
                </div>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4"></div>
            <div class="ui-g-4"><button pButton type="submit" pButton icon="fa-save" label="Salvar" style="width:100%" [disabled]="!situacaoForm.valid"></button></div>
            <div class="ui-g-4"></div>
        </div>
    </form>
</p-dialog>