<div>
    <p-tabView (onChange)="handleChange($event)">
        <!--p-tabPanel header="Home" leftIcon="fa-bar-chart-o"></p-tabPanel-->
        <!--p-tabPanel header="Hierarquia" leftIcon="fa-sitemap"></p-tabPanel-->
        <!--p-tabPanel header="Novo Colaborador" leftIcon="fa-user-plus"></p-tabPanel-->
        <!--p-tabPanel header="Configurações" leftIcon="fa-cog"></p-tabPanel-->
        <p-tabPanel header="Example" leftIcon="fa-automobile"></p-tabPanel>
        <p-tabPanel header="Validation" leftIcon="fa-check-square-o"></p-tabPanel>
    </p-tabView>
</div>

<router-outlet></router-outlet>