<p-dataGrid [value]="getSubcategories()" *ngIf="getLevel() > 0">
    <p-header>{{getName()}}</p-header>
    <template let-subcategory pTemplate="item">
        <div class="ui-g-12 ui-md-4">
            <p-panel [header]="">
                <div (click)="navigate(getLink()+'/'+toLink(subcategory.name))" style="text-align: center; cursor:pointer">
                    {{subcategory.name}}
                </div>
            </p-panel>
        </div>
    </template>
</p-dataGrid>

<p-dataGrid [value]="categories" *ngIf="getLevel() == 0">
    <p-header></p-header>
    <template let-category pTemplate="item">
        <div class="ui-g-12 ui-md-2">
            <p-panel [header]="category.name">
                <div style="text-align: center">
                    <img [src]="category.icon" (click)="navigate(toLink(category.name))">
                </div>
            </p-panel>
        </div>
    </template>
    <p-footer></p-footer>
</p-dataGrid>