<p-dataGrid [value]="getSubcategories()" *ngIf="getLevel() == 1 || getLevel() == 2 || getLevel() == 3">
    <p-header>{{getName()}}</p-header>
    <template let-subcategory pTemplate="item">
        <div class="ui-g-12 ui-md-4">
            <p-panel [header]="">
                <div (click)="navigate(getLink()+'/'+toLink(subcategory.name))" style="text-align: center; cursor:pointer">
                    {{subcategory.name}}
                </div>
            </p-panel>
        </div>
    </template>
</p-dataGrid>

<p-dataGrid [value]="categories" *ngIf="getLevel() == 0">
    <p-header></p-header>
    <template let-category pTemplate="item">
        <div class="ui-g-12 ui-md-2">
            <p-panel [header]="category.name">
                <div style="text-align: center">
                    <img [src]="category.icon" (click)="navigate(toLink(category.name))">
                </div>
            </p-panel>
        </div>
    </template>
    <p-footer></p-footer>
</p-dataGrid>

<div *ngIf="getLevel() == 3">
    <div *ngIf="page">
        <div *ngIf="hasItems()">
            <p-dataGrid [value]="page.productItems.productItem">
                <template let-productItem pTemplate="item">
                    <div class="ui-g-12 ui-md-3">
                        <a [href]="productItem.trackingLinks.trackingLink[0].ppc" style="text-decoration: none;">
                            <p-panel>
                                <div style="font-size:13px; color: #2196f3; text-align:left">{{productItem.name}}</div><br>
                                <div style="text-align: center"><img [src]="productItem.image.medium" style="height: 180px"></div><br>
                                <div style="font-size:17px;color: #4caf50;text-align:right">{{productItem.price | currency:'BRL':true:'1.2-2'}}</div>
                            </p-panel>
                        </a>
                    </div>
                </template>
                <p-footer>{{page.page}}</p-footer>
            </p-dataGrid>
        </div>
    </div>
</div>