<p-dataGrid [value]="getSubcategories()" *ngIf="getLevel() == 1 || getLevel() == 2 || getLevel() == 3">
    <p-header>
        <div style="font-size:16px; color: black; text-align:center">{{getName()}}</div>
    </p-header>
    <template let-subcategory pTemplate="item">
        <div class="ui-g-12 ui-md-4">
            <p-panel [header]="">
                <div (click)="navigate(getLink()+'/'+toLink(subcategory.name))" style="text-align: center; cursor:pointer">
                    <div style="font-size:16px; color: black; text-align:center">{{subcategory.name}}</div>
                </div>
            </p-panel>
        </div>
    </template>
</p-dataGrid>

<p-dataGrid [value]="categories" *ngIf="getLevel() == 0">
    <p-header></p-header>
    <template let-category pTemplate="item">
        <div class="ui-g-12 ui-md-2">
            <p-panel>
                <p-header>
                    <div style="font-size:16px; color: black; text-align:center">{{category.name}}</div>
                </p-header>
                <div style="text-align: center">
                    <img [src]="category.icon" (click)="navigate(toLink(category.name))">
                </div>
            </p-panel>
        </div>
    </template>
    <p-footer></p-footer>
</p-dataGrid>

<p-growl [value]="msgs" life="3000"></p-growl>

<div [ngClass]="{'inactive':!lastLevel}" style="padding: 7px; padding-bottom: 0">
    <div class="ui-widget-header" style="text-align:center; padding: 7px">
        <i class="fa fa-search" style="padding: 7px"></i>
        <input #gb type="text" pInputText size="30" placeholder="filtro global (texto exato)">
    </div>
    <div style="text-align:center; padding-top: 7px">
        <p-dataTable [value]="arrayProduct" [rows]="50" [paginator]="true" [pageLinks]="5" [globalFilter]="gb" [responsive]="true"
            paginatorPosition="both" [emptyMessage]="emptyMessage">
            <p-header>
            </p-header>
            <p-column header="">
                <template let-col let-product="rowData" pTemplate="body">
                    <a [href]="getProductLink(product.name, product['@id'])">
                        <div style="text-align: center"><img [src]="product.image.medium" style="height: 180px;"></div>
                    </a>
                </template>
            </p-column>
            <p-column field="name" [filter]="true" filterMatchMode="contains" filterPlaceholder="filtrar por nome (texto exato)">
                <template let-col let-product="rowData" pTemplate="body">
                    <a [href]="getProductLink(product.name, product['@id'])" style="text-decoration: none;">
                        <div style="font-size:16px; color: #2196f3; text-align:center">{{product.name}}</div>
                    </a>
                </template>
            </p-column>
            <p-column field="manufacturer" [filter]="true" filterPlaceholder="filtrar por marca (texto exato)">
                <template let-col let-product="rowData" pTemplate="body">
                    <div style="font-size:16px; color:dimgrey; text-align:center">{{product.manufacturer}}</div>
                </template>
            </p-column>
            <p-column field="price" [sortable]="true">
                <template let-col let-product="rowData" pTemplate="body">
                    <div style="font-size:12px; color:#999; text-decoration: line-through; text-align:center" *ngIf="product.priceOld != 0">{{getFormattedPrice(product.priceOld)}}</div>
                    <div style="font-size:16px; color: #4caf50; text-align:center">{{getFormattedPrice(product.price)}}</div>
                </template>
            </p-column>
            </p-dataTable>
    </div>
</div>

<div [ngClass]="{'inactive':!isProduct}" style="padding: 7px; padding-bottom: 0">
    <div class="ui-g" *ngIf="productItems.productItem">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <p-panel>
                    <p-header>
                        <div style="font-family:TelefonicaHeadLine-Light; font-size:16px; color: black; text-align:center">
                            <h1>{{productItems.productItem[0].name}}</h1>
                        </div>
                    </p-header>
                    <div class="ui-g" style="text-align: center">
                        <div class="ui-g-8 ui-md-8 ui-lg-8"><img [src]="productItems.productItem[0].image.medium" style="height: 250px;"></div>
                        <div class="ui-g-4 ui-md-4 ui-lg-4">
                            <div class="ui-g-12" style="font-size:24px; color:#2196f3">
                                {{productItems.productItem[0].manufacturer}}
                            </div>
                            <div class="ui-g-12">
                                <div class="ui-g-12" style="font-size:24; color:dimgrey; text-decoration: line-through" *ngIf="productItems.productItem[0].priceOld != 0">
                                    de {{getFormattedPrice(productItems.productItem[0].priceOld)}}
                                </div>
                                <div class="ui-g-12" style="font-size:24px; color: #4caf50">
                                    por {{getFormattedPrice(productItems.productItem[0].price)}}
                                </div>
                            </div>
                            <div class="ui-g-12">
                                <a [href]="trackingLink"><button pButton type="button" style="font-size:24px;" label="ir para loja" (mouseover)="changeLink()"></button></a>
                            </div>
                        </div>
                    </div>
                </p-panel>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <div style="text-align:center; padding-top: 7px">
                    <p-dataGrid [value]="arrayProduct">
                        <template let-product pTemplate="item">
                            <div class="ui-g-12 ui-md-2">
                                <a [href]="getProductLink(product.name, product['@id'])">
                                    <div style="text-align: center"><img [src]="product.image.medium" style="height: 90px;"></div>
                                </a>
                                <a [href]="getProductLink(product.name, product['@id'])" style="text-decoration: none;">
                                    <div style="font-size:16px; color: #2196f3; text-align:center">{{product.name}}</div>
                                </a>
                                <div style="font-size:16px; color:dimgrey; text-align:center">{{product.manufacturer}}</div>
                                <div style="font-size:12px; color:#999; text-decoration: line-through; text-align:center" *ngIf="product.priceOld != 0">{{getFormattedPrice(product.priceOld)}}</div>
                                <div style="font-size:16px; color: #4caf50; text-align:center">{{getFormattedPrice(product.price)}}</div>
                            </div>
                        </template>
                    </p-dataGrid>
                </div>
            </div>
        </div>
    </div>
</div>